.aside {
    height: 100vh;
    width: 280px;
    background-color: #dcddec;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -215px;
    position: fixed;
    margin-top: -30px;
    font-weight: 400;
    
  }
  
    
 