.select-product__wrapper {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.select-product__options{
  width: 90%;
  height: 30px;
  font-size: 16px;
  font-family: Gilroy-bold;
  font-weight:700;
  color: #ffff;
  background-color: #5d6b9f;
  outline: none;
  border: none;
}
.select-product__options--Niche,
.select-product__wrapper--Niche {
  background-color: #5d6b9f;
  font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.select-product__options--Category,
.select-product__wrapper--Category {
    background-color: #9da9d5;
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 
