.range-slider__wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 8px;
  }
  .range-slider__title {
    margin-top: 15px;
    font-size: 14px;
    margin-left: 1px;
    font-weight: 600;
    text-transform: uppercase;
    color: #52586e;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .range-slider__input {
    width: 100%;
    margin-top: 15px;
    background-color: #5d6b9f;
    color: #5d6b9f;
    cursor: pointer;
    outline: none;
  }
  
  .range-slider__scope-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .price-from__wrapper,
  .price-to__wrapper {
    display: flex;
  }
  .range-slider__symbol {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 25px;
    background-color: #ffff;
    border-right: 2px solid #ccd1d4;
  }
  
  .range-slider__scope {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 25px;
    background-color: #ffff;
  }
  .scope,
  .symbol {
    font-size: 16px;
    color: #ccd1d4;
  }
  .scope {
    color: #8e98a0;
  }