.selector__wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
  }
  .selector__options {
    width: 90%;
    height: 38px;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    background-color:#ffffff;
    color: #52586e;
    outline: none;
    border: none;
    border-radius: 4px;
    padding-left: 5px;
  }