.sidebar_wrapper {
  position: fixed;
  top: -9px;
  height: 100vh;
  padding: 10px ;
  width: 40px;
  
  }
.sidebar__container {
  
  height: 100%;
  display: flex;
  flex-direction: column;  
  padding-bottom: 2rem;
  overflow: auto;
  scrollbar-width: none;
  width: 54px;
 margin-left: -278px;
 background-color: #ffffff;
 
}

.dropshiplogo {
  width: 80%;
  height: 100%;
  border-bottom: 1px solid #dde3ee;
  margin-bottom: 100px;
  padding-bottom: 20px;
  margin-left: 4px;
  
}
.profilepic {
  width: 60%;
  height: 27px;
  margin-left: -3px;
  border: 2px solid #1bcdda;
  border-radius: 35px;
  padding: 2px;
}
.sidebar__container__items {
  display: flex;
  flex-direction: column;
  margin-top:-80px;
  row-gap: 1.6rem;
font-size: 10px;
margin-left: 10px;

}
.items {
  display: flex;
  align-items: center;
}




