.searchBar__elements{
    display: flex;
    justify-content: flex-end;
    margin-bottom: -17px;
    margin-top: 25px;
    margin-right: 100px;
}
#searchBar{
    width: 350px;
    padding: 8px;
    height: 26px;
    border: none;
    border-radius:6px 0 0 6px;  

}


#search__icon{
    background-color: #fff;
    margin-top: 0;
    padding: 8px;
   border:1px solid #fff;
   border-right:none;
   border-radius:  0 4px 4px 0;
   color: rgb(189, 188, 188);
   cursor: pointer;
   margin-bottom: -16px;
}

.search__wrapper{
margin-right: 50px;
}
.add-button{
    outline: none;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    background-color: #61D5DF;
    font-weight: bold;
    font-size: 11px;
    cursor: pointer;
    padding: 12px 14px;
   
    text-transform: uppercase;
}