
.selectAll__container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 180px;
  gap: 25px;
 margin-top: -50px;
}

.selectAll__container p{
  margin-top: 10px;
}

.selectAll{
  border-radius:4px;
  background-color: #61d5df;
  cursor: pointer;
  color: #fff;
  border: none;
  padding: 5px;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: 800;
text-transform: uppercase;
width: 100px;
height: 40px;
}
.selectall{
  outline: none;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  background-color: #61D5DF;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  padding: 13px 20px;
  margin-right: 15px;
  text-transform: uppercase;
  
}
.clearall{
  outline: none;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  background-color: #61D5DF;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
  padding: 13px 20px;
  margin-right: 30px;
  text-transform: uppercase;
}

.header__selection{
  font-size: 16px;
  margin-left: -25px;
  margin-top: 8px;
 border-left: 1px solid rgb(163, 163, 163);
 padding-left: 8px;
 padding-top: 4px;
}