.sort{
    background-color: #FFF;
   border-bottom:1px solid #e4e5ec;
   height: 46px;
   margin-top: 40px;
   margin-left: -60px;
   display: flex;
   flex-wrap: wrap;
   /* width:100%; */
   max-width: 87vw;
  }
.sort-elements{
display: flex;
flex-direction: row;
flex-wrap: wrap;
margin-left: 130px;
}
div#icon img{
    display: flex;
  padding: 10px;
  padding-top: 10px;
  margin-left: 40px;
    height: 26px;
    margin-right: -15px;  
}
.sort-title{
    font-size: 16px;
    color: rgb(182, 180, 180);
   display: flex;
   margin-top: 12px;
   margin-left: 10px;
   text-transform: capitalize;
}
.sort-select{
    margin-top: 8px;
   margin-left: 10px;
   text-transform: capitalize;
   
}
#sort {
    text-transform: capitalize;
    font-size: 15px;
    color: rgb(182, 180, 180);
    border: none;
    outline: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}























