.profile__header{
    background-color: #f9fbfe;
    margin-top:-30px;
    margin-left: -212px;
    border-bottom: 1px solid #dcdde3;
    padding-top: 39px;
    
 
}

.header-content{
 display: flex;
     justify-content: space-around;
 flex-wrap: wrap;

}

#profile__page__title{
    
    font-size: 20px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #303856;
    margin-left: -400px;
    font-family: "Khula";
    text-transform: uppercase;
}



#profile__button--sign{
   margin-top: 8px;
    width: 132px;
    height: 40px;
    border-radius: 4px;
    background-color: #e6eefc;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    cursor: pointer;
    outline: 0;
    border: none;
    color: #4785ef;
    text-transform: uppercase;
    margin-right: 73px;
     
}
.profile__button{
    margin-right: -300px;
}

.profile__body{
    background-color: #fff;
    width: 88vw;
    height: 84vh;
    margin-top: 20px;
     margin-left: -140px;
     border-radius: 3px;
     padding: 0;
     border: 3px solid  rgb(247, 239, 239);
}

.profile__nav__list ul{
    list-style-type: none;
    display: flex;
    gap: 30px;
    border-bottom: 2px solid  rgb(243, 237, 237);
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 20px;
    padding-top: 10px;
} 

.nav__elements li {
    text-transform: uppercase;
    font-size: 14px;
    font-family: Helvetica;
    margin-bottom: -10px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
  
}

.nav__elements li a{
    text-decoration: none;
    color: #3d476b;
    cursor: pointer;
}

#invoice{
    margin-left: 50px;
}
.nav__elements  a:hover{
    border-bottom: 3px solid #61d5df;
    padding-bottom: 20px;
}


#default{
    border-bottom: 3px solid #61d5df;
    margin-bottom: -21px;
}
#deactivate__button{
    width: 186px;
    height: 44px;
    border-radius: 4px;
    background: #fff1f1;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #ff7b7b;
    border: none;
    cursor: pointer;
    outline: 0;
    text-transform: uppercase;
    margin-left:800px;
    margin-top: -12px;
}

.avatar__photo{
    width: 520px;
    height: 268px;
    border-radius: 4px;
    border: 1px solid #f9fbfe;
    background-color: #f9fbfe;
   margin-left: 200px;
   margin-top: 8px;
}
.avatar__img{
    width: 130px;
    height: 130px;
    object-fit: cover;
    display: flex;
    justify-content: center;
     margin-left: 160px;
     margin-top: 20px;
    padding: 5px;
    border-radius: 105px;
    border: 5px solid #61d5df;
    
}

#avatar__upload__button{
    width: 162px;
    height: 40px;
    border-radius: 4px;
    background-color: #61d5df;
    border: none;
    font-family: "khula";
    font-size: 18px;
    font-weight: 500;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    padding-top: 3px;
    cursor: pointer;
    text-transform: capitalize;
    margin-left: 150px;
    margin-top: 20px;
}

.avatar__title{
    color: #3d476b;   
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    font-family: Helvetica;
    margin-left: 203px;
    margin-bottom: -2px;
}

.avatar__password__content{
    width: 520px;
    height: 268px;
    border-radius: 4px;
    border: 1px solid #f9fbfe;
    background-color: #f9fbfe;
   margin-left: 200px;
   margin-top: 30px;

}
.change{
    margin-bottom: -20px;
    margin-top: 30px;
}
.label__title{
    margin-bottom: 4px;
    width: 100%;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    color: #29304b;
}
.password__form{
    margin-left: 40px;
     margin-top: 20px;
}
.input{
    width: 410px;
    height: 36px;
    border-radius: 4px;
    border: 1px solid #dbe0f3;
    background-color: #fff;
    font-size: 14px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #29304b;
    padding-left: 16px;
    margin-top: 6px;
}
::placeholder{
    color:rgb(219, 219, 219)
}

.personal__details__content{
    width: 520px;
    height: 268px;
    border-radius: 4px;
    border: 1px solid #f9fbfe;
    background-color: #f9fbfe;
   margin-left: 750px;
   margin-top: -597px;
}

.personal__label, .contact__label{
    margin-bottom: 4px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    color: #29304b;
    margin-bottom: 4px;  
}

.personal__details__form, .contact__info__form{
    margin-left: 45px;
    margin-top: 20px;
}


.lastName, .select{
    margin-top: 4px;
}

#personal{
    color: #3d476b;   
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    font-family: Helvetica;
    margin-left: 752px;  
    margin-top: -20px;
    margin-bottom: 3px;
}

.contact__info__content{
    width: 520px;
    height: 268px;
    border-radius: 4px;
    border: 1px solid #f9fbfe;
    background-color: #f9fbfe;
   margin-left: 750px;
   margin-top: 57px;
}
.contact{
    margin-left: 750px;
    margin-bottom: -47px;
    margin-top: 32px;
}
#save__button{
    margin-top: 50px;
    margin-left: 320px;
    border-width: 0;
    cursor: pointer;
    width: 162px;
    height: 40px;
    border-radius: 4px;
    background: #61d5df;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #fff;
    font-weight: 600;
}