.catalog {
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
   margin-left: 26px;
  }

  .catalog__product {
    flex: 1 290px;
    height: 480px;
    max-width: 360px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #e4e5ec;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
  }
  .catalog__product:hover {
    border: 2px solid #61d4df;
  }
  
  .catalog__product--border {
    border: 2px solid #61d4df;
  }
  .catalog__product--border {
    box-shadow: 0 0 0 1px #61d5df;
  }
  .catalog__product:hover {
    box-shadow: 0 0 0 1px #61d5df;
  }
  
  .catalog__photo {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .catalog__title {
    padding: 3px 14px;
    text-align: justify;
    font-family: "Khula";
    font-weight: 600;
    font-size: 17px;
    color: #29304b;
    text-transform: uppercase;
    margin-top: 10px;
  }
  .catalog__prices {
    border-radius: 5px;
    height: 68px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    color: #aaa7a7;
    font-weight: 400;
    padding: 10px;
    margin-top: 8px;
    flex-wrap: wrap;

  }
  
  .catalog__rrp,
  .catalog__cost,
  .profit {
    display: flex;
    flex-direction: column;
  }
  
  .supplier {
    font-size: 18px;
    color: #616161;
    width: 335px;
    padding: 8px;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    text-transform: uppercase;
    word-spacing: 8px;
    margin-left:5px;
  }
  
  .price {
    color: #29304b;
    font-weight: 600px;
  }
  
  .supplier a {
    color: #61d5df;
  }
  
  .profit :nth-child(1) {
    color: #61d5df;
  }

.catalog__photo img{
   
 
    max-height: 80%;

}

.quantity img{
 margin-left: 300px;

}
