.catalog__product:hover .catalog__checkbox-item--custom,
.catalog__product:hover .add-To-Inventory--hover {
  opacity: 1;

}
.catalog__checkbox-item {
  display: none;
 
}
.catalog__checkbox-item--custom {
  background-color: #fff;
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1.2px solid rgba(112, 112, 112, 0.12);
  cursor: pointer;
  opacity: 0;
 
}
.catalog__checkbox-item--custom::after {
  content: "\2713";
  width: 100%;
  height: 100%;
  display: inline-block;
  text-align: center;
  transform: scale(0);
  background-color: #61d5df;
  color: #f3fcfd;
  border-radius: 50%;
}
.catalog__checkbox-item:checked + .catalog__checkbox-item--custom {
  opacity: 1;
}
.catalog__checkbox-item:checked + .catalog__checkbox-item--custom::after {
  transform: scale(1);
}

@media (max-width: 900px) {
  .catalog__checkbox-item--custom {
    opacity: 1;
  }
}
.add-To-Inventory--hover{
  outline: none;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  background-color: #61D5DF;
  font-weight: bold;
  font-size: 9px;
  cursor: pointer;
  padding: 9px 14px;
  margin-right: 15px;
  text-transform: uppercase;
  opacity: 0;
}