.catalog__head--active {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  position: absolute;
}
.catalog__head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 14px;
}
    .button-wrapper--addToInventory{
      margin-right: 10px;
                    }